./content/posts/political_extremism_online_tech.md
./content/posts/graph-neural-op.md
./content/posts/graph_neural_operator
./content/posts/rust_sci_comp_24.md
./content/projects/project_2.md
./content/projects/project_3.md
./content/projects/project_4.md
./content/projects/project_5.md
